@media (max-width:1200px){

.video-grid{
grid-template-columns:repeat(3,1fr);
}

}

@media (max-width:900px){

body{
padding-left:20px;
padding-right:20px;
}

.sidebar{
display:none;
}

.video-grid{
grid-template-columns:repeat(2,1fr);
padding:15px;
}

}

@media (max-width:600px){

body{
padding-left:10px;
padding-right:10px;
}

.video-grid{
grid-template-columns:1fr;
padding:10px;
}

.middle-section{
max-width:220px;
}

.right-section{
width:auto;
gap:12px;
}

.right-section img:not(.y-user){
display:none;
}

.y-logo{
height:18px;
}

.video-preview{
width:100%;
}

}